// Footer Text
footer
  | For non-spatial data, comparisons are based on the number of locations. For spatial data, comparisons are based on the number of unique location by soild type combinations.
  | SSURGO is used to assign soil attributes to spatial trials.
