// Grand Summary Table
table.grandsummary
  thead
    th.subheadline(colspan='4') GRAND SUMMARY
  tr.theader
    td
    td Yield (BU*56#)/A)
    td HARVEST MOISTURE
    td GROSS INCOME ($/A)
  tr
    td(valign='bottom')
      img(src='/images/orange.png' style="paddingBottom: 10px")
      | &nbsp;&nbsp; Check Products:
      br
      img(src='/images/green.png')
      | &nbsp;&nbsp; Other Products:
    each image in charts
      td
        img(style="max-width:100%" src='#{image.src}')
  tr 
    td Check Products
    each checkdata in grandSummary.checkProduct
      td #{checkdata}
  tr 
    td Others
    each otherdata in grandSummary.otherProduct
      td #{otherdata}
  tr 
    td Difference
    each diffdata in grandSummary.difference
      td #{diffdata}
  tr
    td
      | Assumed Selling Price Per Unit:
      br
      | Assumed Drying Cost :
    td
      | $ 3.75/ BU
      br
      | $ 0.04/ Point Moisture over 15%
    td
      | Yield Values are adjusted to 15% moisture.
    td
br
