// Grand Summary Table
table.grandsummary
  thead
    th.subheadline(colspan='4') GRAND SUMMARY
  tr.theader
    td
    td Yield (BU*56#)/A)
    td HARVEST MOISTURE
    td GROSS INCOME ($/A)
  tr
    td(valign='bottom')
      img(src='/images/orange.png' style="paddingBottom: 10px")
      | &nbsp;&nbsp; Check Products:
      br
      img(src='/images/green.png')
      | &nbsp;&nbsp; Other Products:
    td
      img(src='/images/yield.jpg')
    td
      img(src='/images/harvest.jpg')
    td
      img(src='/images/gross.jpg')
  tr
    td
      | Check Products
      br
      | Others
      br
      | Difference
    td
      | 132.1
      br
      | 140.8
      br
      | 8.7
    td
      | 17.5
      br
      | 18.5
      br
      | 1.0
    td
      | $481.96
      br
      | $508.27
      br
      | $26.31
  tr
    td
      | Assumed Selling Price Per Unit:
      br
      | Assumed Drying Cost :
    td
      | $ 3.75/ BU
      br
      | $ 0.04/ Point Moisture over 15%
    td
      | Yield Values are adjusted to 15% moisture.
    td
br
