// Brief Summary Notes, which should be placed below the table
div
  ul
    li
      | Individual results may vary, and performance may vary from location to location and from year to year. This result may not be an indicator of results you may obtain as local growing, soil and weather conditions may vary.
    li
      | Growers should evaluate data from multiple locations and years whenever possible.
    li
      | Test Average is the grand mean of all experiment plot-level averages for the selected criteria where the check product is one of the test entries.
