extends layout

block content
  include ./header.jade
  include ./subheader.jade
  include ./grand-summary.jade
  include ./subheader2.jade
  include ./performance-summary.jade
  include ./summary-table.jade
  // include ./notes.jade
  include ./legal.jade
  // include ./footer.jade
