table#performance
  thead
    tr
      th(colspan='3') PERFORMANCE SUMMARY
  tr
    td
      | Total # of Comparisons
      span(style='padding: 0 40px') #{performance.comparisons}
    td
      | Test Won by Check Product(s)
      span(style='padding: 0 40px') #{performance.won}
    td
      | Win % Check Product(s)
      span(style='padding: 0 40px') #{performance.winPercentage}
br
br
