table(style='width: 100%; margin-bottom: 20px')
  tr
    td.prodinfo(valign='top')
      table.innterTable
        each c in criteria
          tr
            td #{c.title}
            td #{c.value}
    td
      img(src='#{images.spatial}')
