table(style='width: 100%; margin-bottom: 20px')
  tr
    td.prodinfo(valign='top')
      table.innterTable
        tr
          td Check Products :
          td DEKALB DKC227-RIB, DEKALB DKC-229-98
        tr
          td Other Products :
          td All-Beck's, All-Burrus, All-Pioneer
        tr
          td Years Examined :
          td 2015
        tr
          td Test Types :
          td
            | ACT - Alternating Check, competitor plot, County Plot / Farm Manager, FTN, side by side, system, Third Party
    td
      img(src='/images/map.jpg')
