table#summary
  thead
    tr
      each category in tableData.categories
        th(colspan='#{category.colspan}') #{category.title}
  tr
    each column in tableData.columns
      td #{column.title}
    each row in tableData.rows
      tr
        each column in tableData.columns
          td #{row[column.dataKey]}
